#/etc/systemd/system/smarthome.service
[Unit]
Description=Smarthome service

[Service]
Restart=always
KillSignal=SIGINT
ExecStart=/bin/sh /home/pi/smarthome/service.sh

[Install]
WantedBy=multi-user.target
